


<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="#" class="w3-bar-item w3-button w3-text-blue w3-hover-blue"><b><i class="fa fa-dollar w3-margin-right"></i>FirstBank</b></a>
  <a href="#" class="w3-bar-item w3-button w3-right w3-hover-blue w3-text-blue"><i class="fa fa-search"></i></a>
</div>

<!-- Header -->
<div class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
  <img class="w3-image" src="./assets/skyline.jpg" alt="London" width="1500" height="700">
  <div class="w3-display-middle" style="width:65%">
    <div class="w3-bar w3-blue">
      <button *ngIf="!holder.loggedin" class="w3-bar-item w3-button tablink" routerLink="/home"><i
        class=" w3-margin-right"></i>Login</button>
    <button *ngIf="!holder.loggedin" class="w3-bar-item w3-button tablink" routerLink="/register"><i
        class="w3-margin-right"></i>Register</button>
    <button *ngIf="holder.loggedin" class="w3-bar-item w3-button tablink" routerLink="/dashboard"><i
        class=" w3-margin-right"></i>Home</button>
    <button *ngIf="holder.loggedin" class="w3-bar-item w3-button tablink" routerLink="/profile"><i
        class="w3-margin-right"></i>Profile</button>
    <button *ngIf="holder.loggedin" class="w3-bar-item w3-button tablink" routerLink="/logout"><i
        class=" w3-margin-right"></i>Logout</button>
    </div>
    <router-outlet></router-outlet>
    </div>
</div>


